<h1>Can These Numbers Be Divided</h1>

<h2>First number is: <%= @num2 %></h2>
<br/>
<h2>Second number is: <%= @num3 %></h2>
<br/>
<h2>Remainder: <%= @remainder %></h2>

<h2>Result: <%= @result %></h2>